*{margin:0;padding:0;}
.App{}
.container{display: flex;height:95vh;width:100vw;overflow: hidden;padding:16px;box-sizing: border-box;}
.img{width:100%;height:auto;margin:10px auto;}
.outter{display: flex;width:100vw;height:100%;padding:0vh 16px;max-width:400px;align-items: center;justify-content: center;flex-direction: column;border:1px solid #eee;}
.outter h1{text-align: center;font-size:1.5em;margin:0;line-height:1.4;}
.outter h1 span{background:#fef5d4;padding:5px 10px;border-radius:15px;color:#61dafb;}
.text-box{border:1px solid #dadafc;width:200px;height:36px;border-radius:18px;margin: 24px 0;padding:0 10px;}
.button{padding:0 20px;background: purple;color:#fff;height:30px;border-radius:15px;border:0;cursor: pointer;}